# Ambientes virtuais
.venv/
venv/
env/
.venv

# Arquivos Python compilados/cache
__pycache__/
*.py[cod]

# Variáveis de ambiente / segredos
.env
*.env

# Logs e saídas geradas
*.log
logs/
output/
screenshots/
*.png
*.jpg
*.gif
*.jpeg

# IDE / sistema
.vscode/
.idea/
.DS_Store
Thumbs.db
Desktop.ini

# Banco de dados
*.db
*.sqlite
*.sqlite3